* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  text-transform: uppercase;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 3px;
}

/*register page*/
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
